<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.co.scuff.android" >

    <!-- internet and storage -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- wake lock for location services -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- recover on boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- to get phone number -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".util.ScuffApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PassengerHomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_passenger_home"
            android:parentActivityName=".ui.HomeActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.registration.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.DriverHomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_driver_home"
            android:parentActivityName=".ui.DriverJourneyChoiceActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.scuff.android.ui.DriverJourneyChoiceActivity" />
        </activity>
        <activity
            android:name=".ui.registration.RegisterGuardianActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.registration.RegisterChildrenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_register_children"
            android:parentActivityName=".ui.registration.RegisterGuardianActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.registration.RegisterGuardianActivity" />
        </activity>
        <activity
            android:name=".ui.registration.RegisterDriverActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_register_driver"
            android:parentActivityName=".ui.registration.RegisterChildrenActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.registration.RegisterChildrenActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCe0FMB85HYFERr1oz53-oqAOUI7y4EGMg" />
        <meta-data
            android:name="AA_MODELS"
            android:value="nz.co.scuff.data.journey.Stamp,             nz.co.scuff.data.journey.Ticket,             nz.co.scuff.data.journey.Waypoint,             nz.co.scuff.data.journey.Journey,             nz.co.scuff.data.base.Coordinator,             nz.co.scuff.data.family.Child,             nz.co.scuff.data.family.ChildData,             nz.co.scuff.data.family.PersonalData,             nz.co.scuff.data.place.Place,             nz.co.scuff.data.institution.Route,             nz.co.scuff.data.institution.InstitutionData,             nz.co.scuff.data.relationship.ParentalRelationship,             nz.co.scuff.data.relationship.GuidingRelationship,             nz.co.scuff.data.relationship.FriendRelationship,             nz.co.scuff.data.relationship.JourneyRelationship,             nz.co.scuff.data.relationship.PlaceRelationship" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Scuff.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="45" />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="nz.co.scuff.android.util.TimestampSerializer" />
        <meta-data
            android:name="AA_DB_RESET"
            android:value="true" />

        <!--
            <receiver android:firstName=".gps.GPSBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:firstName="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->
        <receiver
            android:name=".service.PassengerAlarmReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".service.DriverAlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.DriverIntentService"
            android:exported="false" />
        <service
            android:name=".service.PassengerIntentService"
            android:exported="false" />
        <service
            android:name=".service.DriverLocationIntentService"
            android:exported="false" />
        <!--
            <service
            android:name=".data.DriverIntentService"
            android:exported="false" >
        </service>
        -->

        <service
            android:name=".service.RegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".service.TicketIntentService"
            android:exported="false" />

        <activity
            android:name=".ui.PassengerSelectionActivity"
            android:label="@string/title_activity_passenger_selection"
            android:parentActivityName=".ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.scuff.android.ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.SelectFriendActivity"
            android:label="@string/title_activity_select_friend"
            android:parentActivityName=".ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.scuff.android.ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.DriverJourneyChoiceActivity"
            android:label="@string/title_activity_driver_journey_choice"
            android:parentActivityName=".ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.scuff.android.ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.GuidedJourneyActivity"
            android:label="@string/title_activity_guided_journey"
            android:parentActivityName=".ui.DriverJourneyChoiceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.scuff.android.ui.DriverJourneyChoiceActivity" />
        </activity>
        <activity
            android:name=".ui.SelectRouteActivity"
            android:label="@string/title_activity_select_route"
            android:parentActivityName=".ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.scuff.android.ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.SoloJourneyActivity"
            android:label="@string/title_activity_solo_journey"
            android:parentActivityName=".ui.DriverJourneyChoiceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.scuff.android.ui.DriverJourneyChoiceActivity" />
        </activity>
        <activity
            android:name=".ui.SelectGuideeActivity"
            android:label="@string/title_activity_select_guidee"
            android:parentActivityName=".ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.scuff.android.ui.HomeActivity" />
        </activity>
    </application>

</manifest>
